%body{class: "loginBody"}
    %div{class: "bigbox"}
        %h1{} Login
        = form_tag sessions_new_path, :id => 'login' do |form|
            %div{class: "box"}
                = text_field_tag :username, nil, placeholder: "Username"
                = password_field_tag :password, nil, placeholder: "Password"
        =button_tag 'Create Account', type: 'submit', disabled: false

%div
    -if notice != nil
        %p{class: "popup"}= notice