%body
    %h1 Edit User
    %p Form for editing user goes here
    %p Make sure to include ways to navigate to other pages from here
%div
    -if notice != nil
        %p{class: "popup"}= notice