%body
    %h1 All Users

%table#users.table.table-striped.col-md-12
    %thead
        %tr
            %th Username
            %th Email
            %th Created time
            %th Updated time

    %tbody
        - @users.each do |user|
            %tr
                %td 
                    = user.username
                %td
                    = user.email
                %td 
                    =user.created_at
                %td 
                    =user.updated_at
    
= link_to 'Add new user', new_user_path