%body
    %div
        %h1 Create Account
        = form_for @user
    %div
        - if flash[:notice] != nil
            %p{class: "popup"}= flash[:notice]
            %p Make sure to include ways to navigate to other pages from here