%body
    %div
        %h1 User Profile 
        %div{class: "box"}
            %p 
                %strong Username: 
                =@user.username
            %p 
                %strong Email:
                =@user.email
            %p 
                %strong Discord Username:
                =@user.discord_username
            %p 
                %strong Instagram Handle:
                =@user.instagram_handle
            %p 
                %strong Github Handle:
                =@user.github_link
            
            -if same_user(@user)
                =button_to "Delete" , users_path(:id =>@user.id), :method  => 'delete'
                =button_to "Edit", edit_user_path(:id=>@user.id), :method => "get"