%body
    %h2
    %em= @post.post_title
    
    %ul#details
    %li
        Author: #{@post.username}
    %li
        Last updated on: #{@post.updated_at}
        
    %h3 Description:
    %p#description
        = @post.post_description